<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='libs/node_modules/semantic-ui/dist/semantic.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='libs/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <title>Growth Hackers</title>
</head>
<body>
    <div id="content">
        <div class="ui secondary  menu">
          <div class="right menu">
            <div class="ui item">
              <div class="ui primary button" @click="mark_all_read">Mark All as Read</div>
            </div>
          </div>
        </div>
        <table class="ui table">
          <tbody>
            <tr v-for="i in posts" @click="mark_visit(i._id['$oid'], $event)">
              <td><a target="_blank" href="[[ i.href ]]">[[ (cur_page-1)*25 + $index + 1]]. [[ i.title ]]</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr><th>
              <div class="ui right floated pagination menu">
                <a class="icon item" href="/?page=[[ cur_page - 1 ]]" v-if="cur_page > 1">
                  <i class="left chevron icon"></i>
                </a>
                <a class="item" v-bind:class="{ 'active': cur_page == i }"
                   href="/?page=[[ i ]]" v-for="i in page_list"> [[ i ]]</a>
                <a class="icon item" href="/?page=[[ cur_page+1 ]]" v-if="cur_page < total_page">
                  <i class="right chevron icon"></i>
                </a>
                   <a class="item" href="/?page=[[ total_page ]]">[[total_page]]</a>
              </div>
            </th>
          </tr></tfoot>
        </table>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='libs/node_modules/semantic-ui/dist/semantic.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/node_modules/vue/dist/vue.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/node_modules/vue-resource/dist/vue-resource.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/growth_hackers.js') }}"></script>
</html>